<!DOCTYPE html>
{% load static %}
{% load bt %}
<html>
  <head>
    <title>{% block title %}{% endblock %}{{ BT_site_title }}</title>

    {% if BT_viewport_scale %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endif %}
    {% _bt_style "https://maxcdn.bootstrapcdn.com/bootstrap/{}/css/bootstrap.min.css" "bootstrap" %}
    <link rel="stylesheet" href="{% static 'bt/default.css' %}" />
    {% _bt_app_style %}
    {% for path in BT_styles %}
    <link rel="stylesheet" href="{% static path %}" />
    {% endfor %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% _bt_script "https://code.jquery.com/jquery-{}.min.js" "jquery" %}
    {% _bt_script "https://cdnjs.cloudflare.com/ajax/libs/tether/{}/js/tether.min.js" "tether" %}
    {% _bt_script "https://maxcdn.bootstrapcdn.com/bootstrap/{}/js/bootstrap.min.js" "bootstrap" %}
    {% _bt_app_script %}
    {% for path in BT_scripts %}
    <script src="{% static path %}"></script>
    {% endfor %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
