<!DOCTYPE html>
{% load static %}
{% load bt %}
<html>
  <head>
    <title>{% block title %}{% endblock %}{{ BT_site_title }}</title>

    {% if BT_viewport_scale %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endif %}
    {% _bt_style "https://maxcdn.bootstrapcdn.com/bootstrap/{}/css/bootstrap.min.css" "bootstrap" %}
    {% _bt_style "https://maxcdn.bootstrapcdn.com/font-awesome/{}/css/font-awesome.min.css" "fontawesome" %}
    {% _bt_style "https://cdnjs.cloudflare.com/ajax/libs/select2/{}/css/select2.min.css" "select2" %}
    <link rel="icon" href="{% setting 'BT_FAVICON_URL' %}" />
    {% style "bt/default.css" %}
    {% _bt_app_style %}
    {% for path in BT_styles %}
    {% style path %}
    {% endfor %}
  </head>
  <body class="app-{{ request.resolver_match.app_name }} view-{{ request.resolver_match.url_name }}">
    {% block body %}{% endblock %}

    {% _bt_script "https://code.jquery.com/jquery-{}.min.js" "jquery" %}
    {% _bt_script "https://cdnjs.cloudflare.com/ajax/libs/popper.js/{}/umd/popper.min.js" "popper" %}
    {% _bt_script "https://maxcdn.bootstrapcdn.com/bootstrap/{}/js/bootstrap.min.js" "bootstrap" %}
    {% _bt_script "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/{}/bootstrap3-typeahead.min.js" "typeahead" %}
    {% _bt_script "https://cdnjs.cloudflare.com/ajax/libs/select2/{}/js/select2.min.js" "select2" %}
    {% _bt_script "https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/{}/jquery.scrollTo.min.js" "scrollto" %}
    {% _bt_app_script %}
    {% for path in BT_scripts %}
    {% script path %}
    {% endfor %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
