{% extends "bt/base.html" %}
{% load static %}
{% load bt %}

{% block body %}
<div class="container{% if BT_BS_container_fluid %}-fluid{% endif %}"
     id="bt-container">
  <a href="#bt-content" class="sr-only sr-only-focusable">
    Skip to page content</a>
  <header class="bt-header">
    {% block header %}
    {% if BT_header_image %}
    <a {% if BT_header_url and not BT_no_header_link %}
       href="{% url BT_header_url %}"{% endif %}>
	<img src="{% static BT_header_image %}" id="bt-logo"
	     class="img-responsive img-fluid">
    </a>
    {% endif %}
    {% block extra_header %}{% endblock %}
    {% endblock %}
  </header>
  {% block BT_inner_page %}
  <a name="bt-content"></a>
  {% if BT_include_messages and not BT_hide_messages %}
  {% include "bt/messages.html" %}
  {% endif %}
  <main class="bt-content">
  {% block content %}
  {% endblock %}
  </main>
  <footer class="bt-footer">
    {% block footer %}
    <hr>
    <div>&copy;{% now "Y" %} {% setting "BT_FOOTER_OWNER" %}
    {% if BT_footer_site %}|
    <a href="{{ BT_footer_site }}">
      {{ BT_footer_site|cut:"http://"|cut:"https://" }}</a>
    {% endif %}</div>
    {% block extra_footer %}{% endblock %}
    {% endblock %}
  </footer>
  {% endblock %}
</div>
{% endblock %}
