<div class="btn-group bt-header-btn">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome{% if request.user.is_authenticated %}, {{ request.user.get_short_name }}{% endif %} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {% if request.user.is_authenticated %}
    {% block user_menu_actions %}{% endblock %}
    {% if request.user.is_staff %}
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'admin:index' %}">Site Admin</a></li>
    {% endif %}
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    {% block user_authenticated_actions %}{% endblock %}
    {% endif %}
  </ul>
</div>
